@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: radial-gradient(circle, rgb(37, 54, 115) 0%, rgb(15, 19, 60) 100%)
}

.characters {
  perspective: 1000px;
}

.blinker {
  animation: blink .5s linear infinite;
}

@keyframes blink {
  0%, 50% {
    visibility: hidden;
  }
  50.1%, 100% {
    visibility: visible;
  }
}

.introduction {
  perspective: 800px;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
}